name: health-tst
channels:
  - conda-forge
  - pytorch
dependencies:
  - python=3.10
  - pytorch
  - torchvision
  - torchaudio
  - cpuonly  # remove if GPU
  - numpy
  - pandas
  - matplotlib
  - scikit-learn
  - pyyaml
  - tqdm
  - pip
  - pip:
      - transformers

